In [40]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import requests 
from bs4 import BeautifulSoup 


print('Libraries imported.')

Libraries imported.

In [41]:
source  = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [42]:

soup = BeautifulSoup(source,'lxml')

In [43]:
stat = soup.find('table', class_ ="wikitable sortable")
len(stat)
tr1 = stat.find_all('tr')

In [44]:
final = []
for row in tr1:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    #print(cols + ",")
    final = final + cols

In [45]:
s = [final[i:i+3] for i in range(0,len(final),3)]

In [46]:
d1 = pd.DataFrame()
d1['Postal Code'] = s
d1.head()

                                         Postal Code
0                  [M1A, Not assigned, Not assigned]
1                  [M2A, Not assigned, Not assigned]
2                       [M3A, North York, Parkwoods]
3                [M4A, North York, Victoria Village]
4  [M5A, Downtown Toronto, Regent Park, Harbourfr...

In [47]:
d1.shape

(180, 1)

In [48]:
k = 0
for i in range(0,180):
        for j in range(0,1):
  #         print(j)
 #          print(final[k] + "," + final[k+1] + "," + final[k+2])
            d1['Postal Code'][i] = final[k] + "," + final[k+1] + "," + final[k+2]
            k = k + 3
            
         
d1.tail()

                                           Postal Code
175                      M5Z,Not assigned,Not assigned
176                      M6Z,Not assigned,Not assigned
177                      M7Z,Not assigned,Not assigned
178  M8Z,Etobicoke,Mimico NW, The Queensway West, S...
179                      M9Z,Not assigned,Not assigned

In [49]:
new = d1["Postal Code"].str.split(",", n = 2, expand = True) 
d1["a"]= new[0] 
d1["b"]= new[1] 
d1["c"]= new[2]
d1.head()

,Postal Code,a,b,c
0,"M1A,Not assigned,Not assigned",M1A,Not assigned,Not assigned
1,"M2A,Not assigned,Not assigned",M2A,Not assigned,Not assigned
2,"M3A,North York,Parkwoods",M3A,North York,Parkwoods
3,"M4A,North York,Victoria Village",M4A,North York,Victoria Village
4,"M5A,Downtown Toronto,Regent Park, Harbourfront",M5A,Downtown Toronto,"Regent Park, Harbourfront"

In [50]:
d1 = d1.drop(['Postal Code'],axis=1)

In [51]:
d1.columns = ["Postal Code","Borough","Neighbourhood"]

In [52]:
d1.shape

(180, 3)

In [53]:
d1 = d1[d1['Borough'] != 'Not assigned']

In [54]:
d1.shape

(103, 3)

In [55]:
cnt = 0 
for i in range(0,103):
    j = 2
    if d1.iloc[i][j] == 'Not assigned':
        d1.iloc[i][j] = d1.iloc[i][j-1]
        j = j + 1

In [56]:
d1 = d1.set_index('Postal Code')

In [57]:
d1.head()

                      Borough                                Neighbourhood
Postal Code
M3A                North York                                    Parkwoods
M4A                North York                             Victoria Village
M5A          Downtown Toronto                    Regent Park, Harbourfront
M6A                North York             Lawrence Manor, Lawrence Heights
M7A          Downtown Toronto  Queen's Park, Ontario Provincial Government

In [58]:
d1 = d1.reset_index()

In [59]:
d1.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [60]:
d1.shape

(103, 3)

# Part 2

In [61]:
cord = pd.read_csv("https://cocl.us/Geospatial_data")

In [62]:
cord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [63]:
d1.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [64]:
d1.shape

(103, 3)

In [67]:
dp1 = pd.concat([d1, cord], axis=1)

In [68]:
dp1.head()

,Postal Code,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M3A,North York,Parkwoods,M1B,43.806686,-79.194353
1,M4A,North York,Victoria Village,M1C,43.784535,-79.160497
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",M1E,43.763573,-79.188711
3,M6A,North York,"Lawrence Manor, Lawrence Heights",M1G,43.770992,-79.216917
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",M1H,43.773136,-79.239476

In [69]:
dp1.shape

(103, 6)